@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family:'Oswald', sans-serif;
    color: yellow;
    background-color: #8a0303;
}

header{
    background-color: #CC0303;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 10rem;
}

h1{
    font-size: 7.8rem;
    bottom: 0px;
    font-weight: 400;
}

header p{
    font-size: 3.8rem;
}

nav li{
    text-align: center;
    font-size: 1.5rem;
    margin: .5rem;
    padding: .5rem;
    border: 2px solid white;
    background-color: #1B1616;
    border-radius: 4px;
}

nav li:hover,
nav li:focus-within{
    outline: none;
    border-color: yellow;
}

main .container{
    padding: 3.5rem 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18rem;
}
/* --------------------------------------------------------ZONE DES TRENDING-------------------------------------------------------- */
.trending{
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.trending-box{
    display: flex;
    border-radius: 4px;
    padding: 1.5rem;
    margin-bottom: 4rem;
    max-width: 90vw;
    flex-wrap: wrap;
}

.trending-word{
    font-size: 2.4rem;
    margin: .5rem;
    padding: .5rem;
    border: 1px solid white;
    background-color: #CC0303;
    border-radius: 4px;
}

/* --------------------------------------------------------ZONE POUR TWITER-------------------------------------------------------- */
.left-side{
    margin-top: 3rem;
}

.twit-block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: sticky;
    top: 7rem;
}

.username-input{
    display: flex;
    font-size: 3.8rem;
}

.username-input input{
    background-color: black;
    color: white;
    border: solid 4px white;
    font-size: 2.4rem;
    border-radius: 4px;
    width: 42rem;
    margin-left: 2.8rem;
}

.username-input input:focus{
    outline: none;
    border-color: yellow;
}

.twit-input{
    display: flex;
    font-size: 3.8rem;
    margin-top: 8.2rem;
    margin-bottom: 4rem;
}

textarea{
    background-color: black;
    color: white;
    border: solid 4px white;
    font-size: 2.4rem;
    border-radius: 4px;
    width: 42rem;
    height: 36rem;
    margin-left: 2.8rem;
    resize: none;
}

textarea:focus{
    outline: none;
    border-color: yellow;
}

#send-btn{
    width: 15.8rem;
    height:7rem;
    font-size: 3.8rem;
    color: yellow;
    background-color: #CC0303;
    border: solid .3rem white;
    border-radius: 4px;
    margin-right: 13rem;
}

#send-btn:hover,
#send-btn:focus,
.BTT-btn:hover,
.BTT-btn:focus{
    outline: none;
    border-color: yellow;
}

#send-btn:hover{
    cursor: pointer;
}


.BTT-btn{
    width: auto;
    margin-top: 3rem;
    height:7rem;
    font-size: 3.8rem;
    color: yellow;
    background-color: #CC0303;
    border: solid .3rem white;
    border-radius: 4px;
    margin-right: 15.3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
}

/* --------------------------------------------------------AFFICHAGE DES TWITS-------------------------------------------------------- */

.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 7.8rem;
    font-weight: 400;
    margin-bottom: 5.5rem;
}

.twit-container{
    display: flex;
    flex-direction: column;
}

.twit-card{
    background-color: #CC0303;
    border: solid 4px white;
    font-size: 2.4rem;
    border-radius: 4px;
    padding: 1.5rem;
    margin-bottom: 4rem;
    width: 48.4rem;
}

.twit-content{
    word-break: break-word;
}

.twit-poster{
    text-align: end;
    margin-top: 3rem;
}